*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  margin: 0;
}

img {
  max-width: 100%;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

header {
  background-color: #fff;
  padding: 35px;
}

/* Content */
#primary {
  display: flex;
}

.primary-content {
  text-align: center;
  background-image: url('./images/bg-pattern-desktop.svg');
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
}

.pink-text {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.bold-text {
  color: hsl(0, 6%, 24%);
}

.section-text {
  color: hsl(0, 36%, 70%);
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5rem;
  padding: 0 2rem;
  margin-bottom: 1.8rem;
}

/* Form */

#form {
  border: 3px solid rgba(0, 0, 0, 0);
}

input {
  width: 27.5rem;
  height: 3.5rem;
  border-radius: 35px;
  padding: 5px 30px;
  border: 1px solid hsl(0, 36%, 70%);
  color: black;
  opacity: 0.4;
  font-size: 1rem;
}

input::placeholder {
  color: hsl(0, 36%, 70%);
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
}

input:focus {
  outline: none;
}

.errorMessage {
  text-align: center;
  display: none;
}

form.error .errorMessage {
  display: block;
}

form.error .inputError {
  border: 1px solid red;
}

.errorIcon {
  visibility: hidden;
  transform: translate(-130px, 5px);
}

form.error .errorIcon {
  visibility: visible;
}

/* Button */
.gradient-button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 50px;
  padding: 15px 35px;
  border: none;
  transform: translate(-120px, 4px);
}

.gradient-button:hover {
  opacity: 0.6;
}

.gradient-button:focus {
  outline: none;
}
